.contenedor-usuario1{
    background-color: rgb(255, 229, 80);
    height: 33%;
}
.contenedor-usuario2{
    background-color: rgb(187, 186, 182);
    height: 33%;
}
.contenedor-usuario3{
    background-color: rgb(194, 141, 42);
    height: 33%;
}